
.MainWrapper {
    display: flex;
    background:#c0bcbc;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

}

.searchBar input{
    height: 25px;
    width: 1000px;
    padding: 20px;
    margin: 30px;
    color: #fff;
    border-radius: 20px;
    font-size: 16px;
    background: black;


}
.add-good-btn{
    color: transparent;
    border: none;
}
.userPersonalData{
    position: relative;
    left: 200px;
}

.logOutbtn{
    left: 900px;
}
.userbtn .btn{
    border: none;
    background-color: transparent;
    color: black;
    font-weight: 1000;
}

.user-seen-part{
    display: flex;
}
.goods-field{
    width: 60%;
    background-color: #fff;

}

.user-seen-part{
    align-items: center;
    justify-content: center;
    background-color:rgb(168, 164, 164);
}