.generalWrapperForSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("logInMy.png") no-repeat;
}

.generalWrapperForSignUp .signUpWrapper{
    position: relative;
    width: 420px;
    height: 500px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 30px, 40px;
}

.generalWrapperForSignUp .signUpWrapper h1{
    font-size: 25px;
    text-align: center;
}

.generalWrapperForSignUp .signUpWrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 40px, 0;
}
.generalWrapperForSignUp .signUpWrapper .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    color:black;
    padding: 20px 45px 20px 20px;
}

.generalWrapperForSignUp .signUpWrapper .input-box input::placeholder{
    color: #000000;
}
.generalWrapperForSignUp .signUpWrapper .text-field text{
    text-align:center;
}
.generalWrapperForSignUp .signUpWrapper .sign-up-button button{
    width: 150px;
    height: 40px;
    color: black;
    background: transparent;
    border-color: transparent;
    border-radius: 15px;
    float: right;
}

